* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  font-size: 62.5%;
}

header {
  height: 46px;
  background-color: #ccc;
}
main {
  height: calc(100vh - 46px);
}
.wrapper {
  margin: 0 24px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 2rem;
  display: block;
  border: 1px solid red;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 74, 74);
  color: #fff;
}

.menu-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu-nav .nav-item {
  list-style: none;
  margin-left: 12px;
}

.nav-item:hover {
  cursor: pointer;
  background-color: rgb(247, 74, 74);
  color: #eee;
}

.nav-item.item-dic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.menu-nav .nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgb(247, 74, 74);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  padding: 1rem 1.2rem;
  background-color: #eee;
  text-align: center;
  border-radius: 99rem;
  color: rgb(247, 74, 74);
  background-color: #fff;
  border: 1px solid rgb(247, 74, 74);
  margin-left: 12px;
  height: 3.6rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(247, 74, 74);
}
.btn:hover a {
  color: #fff;
}

.btn.btn-dic {
  height: 3.6rem;
  width: 3.6rem;
  min-width: 3.86em;
  border-radius: 50%;
}

#app {
  margin: 0 12px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
#title {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

#title .title-input {
  border: none;
  padding-left: 12px;
  font-size: 2.2rem;
  width: 100%;
  outline: none;
}

#editor {
  width: 600px;
  border-right: 1px solid #ccc;
  height: calc(100% - 60px);
  padding: 0 12px 0 0;
}

#tool {
  padding: 12px 0;
  width: 100%;
}
.tool-menu {
  display: flex;
  list-style: none;
  background-color: #ccc;
  padding: 12px;
  overflow-x: auto;
  scrollbar-color: #eee transparent; 
  scrollbar-width: thin;
}

.tool-item {
  margin-right: 12px;
}

.tool-item.separate {
  border-left: 1px solid #eee;
}
.tool-btn {
  min-width: 20px;
  min-height: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
}

.tool-btn:hover {
  color: #fff;
  background-color: rgb(247, 74, 74);
}

#content {
  width: 100%;
  height: calc(100% - 80px);
}

#input-editor {
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 1.6rem;
  outline: none;
}

#preview {
  font-size: 1.6rem;
  padding: 12px;
  width: calc(100% - 600px);
  word-wrap: break-word;
}

#preview ul, #preview ol {
  margin-left: 24px;
}
#preview li {
  padding: 8px 0;
}
#preview p {
  padding: 8px;
}
#preview pre{
  background-color: rgb(131 166 182 / 20%);
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
  border-radius: 4px;
  margin-bottom: 12px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 46px;
  background-color: #ccc;
}
