* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-item {
  position: relative;
}

.menu-sub {
  position: absolute;
  top: calc(100% + 7px);
  left: 0;
}

#show-emoji {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  position: relative;
  gap: 4px;
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
}

.search-emoji {
  display: flex;
  width: 100%;
}

.search-emoji .input-search {
  flex: 1;
  padding-left: 8px;
  font-size: 1.4rem;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  border: none;
  border-bottom: 1px solid #e8ebed;
  height: 32px;
}

#nav-emoji {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  align-items: center;
  padding: 3px 4px 0 4px;
  gap: 4px;
  background-color: #e8ebed;
  border-radius: 4px 4px 0 0;
  /* border-bottom: 1px solid #ddd; */
}

#show-emoji .category {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  /* background-color: #e8ebed; */
}

#show-emoji .category.active {
  display: flex;
}

.category .emojis {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;
  background-color: white;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-color: #ccc transparent;
  scrollbar-width: thin;
}

.emojis .message {
  font-size: 1.4rem;
  font-family: 'Courier New', Courier, monospace;
}

.emoji,
#nav-emoji li {
  width: 38px;
  height: 38px;
  font-size: 24px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#nav-emoji .emoji-item {
  width: 28px;
  height: 28px;
  border-radius: 4px 4px 0 0;
  background-color: transparent;
}

.emoji-item  .btn-emoji {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 18px;
  outline: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.emoji-item  .btn-emoji.active {
  background-color: white;
}

#nav-emoji .emoji-item.active {
  background-color: white;
}

.emoji:hover,
#nav-emoji .emoji-item:hover {
  background-color: #ddd;
}

