* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-item {
  position: relative;
}

.menu-sub {
  position: absolute;
  top: calc(100% + 7px);
  left: 0;
}

#show-emoji {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 350px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
}

#nav-emoji {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
  padding: 4px;
  gap: 4px;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#show-emoji .category {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  gap: 8px;
  padding: 4px;
}

#show-emoji .category.active {
  display: flex;
}

.category .emojis {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;
  background-color: white;
  height: 450px;
  overflow-y: scroll;
  scrollbar-color: #ccc transparent;
  scrollbar-width: thin;
}

.emoji,
#nav-emoji li {
  width: 38px;
  height: 38px;
  font-size: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-emoji .emoji-item {
  font-size: 20px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: transparent;
}

#nav-emoji .emoji-item.active {
  background-color: #ddd;
}

.emoji:hover,
#nav-emoji .emoji-item:hover {
  background-color: #ddd;
}
